// bower:scss
// endbower

$wrapper-margin: 5%;
$header-height: 80px;
$footer-height: 60px;
$nav-width: 200px;
$nav-left: $wrapper-margin;

$light-blue: #3498db;

* {
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;

  font-family: 'Roboto Slab', serif;
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

.wrapper {
  // background-position: center center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: url(../images/background.jpg);
  // height: 100%;
  // width: 100%;
  // position: relative;

  .header {
    background-color: $light-blue;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
  }

  .nav {
    background-color: $light-blue;
    position: fixed;
    left: $nav-left;
    top: $header-height;
    bottom: $footer-height;
    width: $nav-width;
    margin: 1rem 0;
  }

  .main {
    margin-top: $header-height;
    margin-right: $wrapper-margin;
    margin-bottom: $footer-height;
    margin-left: calc(5% + 200px);

    .content {
      padding: 1rem 1rem 1rem 2rem;
    }
  }

  .footer {
    background-color: $light-blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
  }
}
