<div class="content__navigation">
  <div class="icon left"></div>
  <div class="pages"></div>
  <div class="icon right"></div>
</div>
<div class="content__container">
  {{renderPartial template}}
</div>
<div class="content__navigation">
  <div class="icon left"></div>
  <div class="pages"></div>
  <div class="icon right"></div>
</div>
