<div class="icon icon--left">
  <img src="../images/glyphicons/png/glyphicons-225-chevron-left.png" alt="Prev page" />
</div>
<div class="pages">
  <p>
    {{ currentPage }} / {{ pageCount }}
  </p>
</div>
<div class="icon icon--right">
  <img src="../images/glyphicons/png/glyphicons-224-chevron-right.png" alt="Prev page" />
</div>
